DEEPSEEK_API_KEY=
AI_DASHSCOPE_API_KEY=

POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=15432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_COLLECTION_NAME=memories
